@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: #FFFCEF;
}

html {
  scroll-behavior: smooth;
}
/* style : {
  --react-international-phone-border-radius : 0
  --react-international-phone-border-color : "gray"
  --react-international-phone-background-color : "#282c34"
  --react-international-phone-text-color : "white"
  --react-international-phone-selected-dropdown-item-background-color : "black"
  --react-international-phone-country-selector-background-color-hover : "black"
  } */
.hello:focus {
  border-color: green;
}

@media screen and (min-width: 640px) {
  .scroll-styled::-webkit-scrollbar {
    width: 4px; /* width of the entire scrollbar */
  }

  .scroll-styled::-webkit-scrollbar-track {
    background: none; /* color of the tracking area */
  }

  .scroll-styled::-webkit-scrollbar-thumb {
    /* background-color: #DC93CB; color of the scroll thumb */
    background-color: none;
    border-radius: 20px; /* roundness of the scroll thumb */
    width: 4px;
    /* border: 3px solid orange; creates padding around scroll thumb */
  }
}


/*
:root {
  --purple-shade: 180; /* Adjust this value for your desired shade 
}

/* Use the CSS variable to apply the filter effect 
.filter-purple-shade {
  filter: contrast(var(--purple-shade, 180%)) sepia(100%) saturate50%) hue-rotate(270deg);
}
*/
